@import "../../styles/_fonts";
@import "../../styles/_generals";

.cart-box {
  width: 100%;
  margin: 30px 0;
  h2 {
    font-family: "Iran Sans 700";
    color: $primary-text__color;
    margin-right: 30px;
  }
  table {
    width: 85%;
    margin: 30px auto;
    padding: 10px;
    thead {
      tr {
        th {
          padding: 10px;
          border: 1px solid #ccc;
          font-family: "Aviny 700";
          color: $primary-text__color;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 10px;
          border: 1px solid #ccc;
          font-family: "Vazir 700";
          text-align: center;
          color: $secondary-text__color;
          i {
            &:hover {
              cursor: pointer;
              color: $accent-color;
            }
          }
        }
      }
    }
  }
}
