@import "../../../styles/_fonts";
@import "../../../styles/_generals";

.search-foods-result {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  .search-foods-result__items {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    h4 {
      font-family: "Vazir 700";
      color: $primary-text__color;
    }
    .search-foods-result__image {
      text-align: center;
      margin: 0 auto;
      img {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
    }
    p {
      font-family: "Iran Sans 700";
      color: $secondary-text__color;
      margin: 10px 0;
    }
  }
}
