@font-face {
  font-family: "Iran Sans 300";
  src: url("../fonts/iran-sans-300.eot");
  src: url("../fonts/iran-sans-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/iran-sans-300.woff2") format("woff2"),
    url("../fonts/iran-sans-300.woff") format("woff"),
    url("../fonts/iran-sans-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Iran Sans 500";
  src: url("../fonts/iran-sans-500.eot");
  src: url("../fonts/iran-sans-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/iran-sans-500.woff2") format("woff2"),
    url("../fonts/iran-sans-500.woff") format("woff"),
    url("../fonts/iran-sans-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Iran Sans 700";
  src: url("../fonts/iran-sans-700.eot");
  src: url("../fonts/iran-sans-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/iran-sans-700.woff2") format("woff2"),
    url("../fonts/iran-sans-700.woff") format("woff"),
    url("../fonts/iran-sans-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Vazir 300";
  src: url("../fonts/vazir-300.eot");
  src: url("../fonts/vazir-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir-300.woff2") format("woff2"),
    url("../fonts/vazir-300.woff") format("woff"),
    url("../fonts/vazir-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Vazir 500";
  src: url("../fonts/vazir-500.eot");
  src: url("../fonts/vazir-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir-500.woff2") format("woff2"),
    url("../fonts/vazir-500.woff") format("woff"),
    url("../fonts/vazir-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazir 700";
  src: url("../fonts/vazir-700.eot");
  src: url("../fonts/vazir-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir-700.woff2") format("woff2"),
    url("../fonts/vazir-700.woff") format("woff"),
    url("../fonts/vazir-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aviny 700";
  src: url("../fonts/aviny-700.eot");
  src: url("../fonts/aviny-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aviny-700.woff2") format("woff2"),
    url("../fonts/aviny-700.woff") format("woff"),
    url("../fonts/aviny-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
