@import "../components/navbarMenu/navbar-menu-styles";
@import "../components/footer/footer-styles";
@import "../components/home/sliderBox/slider-box-styles";
@import "../components/home/roomCards/room-cards-styles";
@import "../components/home/foodCards/food-cards-styles";
@import "../components/home/foodCard/food-card-styles";
@import "../components/home/searchFoodsBox/search-foods-box-styles.scss";
@import "../components/home/searchRoomsBox/search-rooms-box-styles";
@import "../components/roomDetails/room-details-styles.scss";
@import "../components/foodDetails/food-details-styles.scss";
@import "../components/cart/food-cart-styles.scss";
@import "../components/accounting/accounting-styles.scss";
@import "../components/accounting/register/register-styles.scss";
@import "../components/accounting/login/login-styles.scss";
@import "../components/reservation/reservation-styles.scss";
@import "../components/bookingTracking/booking-tracking-styles.scss";

* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  background-color: $bg-color;
}
