@import "_fonts";
@import "_generals";

* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  background-color: $bg-color;
}

.navbar-menu {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .logo {
    img {
      width: 90px;
      height: auto;
      border: 1px solid #000;
      border-radius: 10px;
    }
  }
  ul {
    li {
      display: inline-block;
      list-style: none;
      margin: 15px;
      a {
        text-decoration: none;
        margin: 0 5px;
        font-family: "Iran Sans 700";
        color: $primary-color;
        font-size: 1.3rem;
        &:hover {
          color: $secondary-color;
          border-bottom: 3px solid invert($secondary-color);
          transition: all 0.5s ease-in;
        }
      }
      i {
        color: $secondary-text__color;
      }
      &:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in;
      }
    }
  }
}

.footer {
  width: 100%;
  align-items: center;
  border: 1px solid #ccc;
  background-color: $footer-bg__color;
  margin-top: 30px;
  .footer-container {
    display: flex;
    justify-content: space-around;
    font-family: "Vazir 700";
    .footer-links {
      h4 {
        margin-bottom: 10px;
        color: $primary-text__color;
      }
      a {
        display: block;
        margin: 10px;
        text-decoration: none;
        color: $secondary-text__color;
      }
    }
    .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Aviny 700";
      .title-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .info-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
          margin-right: 20px;
        }
      }
    }
  }
  .footer-social {
    width: 70%;
    border-top: 2px solid #000;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    i {
      width: 40px;
      margin: 20px;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 5px;
      font-size: 1.5rem;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        background-color: #065ca2;
        color: greenyellow;
      }
    }
  }
}

.error-title {
  font-family: "Iran Sans 700";
  color: $primary-text__color;
  font-size: 1.2rem;
  color: red;
  text-align: center;
  margin: 20px;
}

.loading-title {
  font-family: "Iran Sans 700";
  color: $primary-text__color;
  font-size: 1.3rem;
  color: blue;
  text-align: center;
  margin: 20px;
}

.slider-container {
  width: 60%;
  margin: 10px auto;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  .slider-image {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .slider-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 270px;
    button {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 8px;
      font-family: "Iran Sans 700";
      margin: 0 10px;
      &:hover {
        cursor: pointer;
        background-color: #db96e9;
        color: $primary-text__color;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.slide-enter {
  transform: translateX(100%);
}
.slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in;
}

.slide-exit {
  transform: translateX(0);
}
.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-out;
}

.room-cards {
  width: 100%;
  height: 530px;
  padding: 10px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  a {
    text-decoration: none;
    .room-card__box {
      width: 330px;
      height: 500px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 10px 10px 6px rgba(62, 5, 11, 0.5);
      background-color: $bg-color__room--card;
      .room-image {
        text-align: center;
        img {
          width: 250px;
          height: 250px;
          border-radius: 10px;
        }
      }
      .room-name {
        font-family: "Iran Sans 700";
      }
      p {
        margin: 6px 0;
        color: $primary-text__color;
      }
      ul {
        margin: 5px 0;
        li {
          color: #077d07;
        }
      }
      &:hover {
        transform: scale(1.02);
        transition: all 0.5s ease;
        img {
          box-shadow: 10px 10px 6px rgba(228, 91, 185, 0.5);
        }
      }
    }
  }
  .hide-show-icon__room {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    z-index: 1;
    cursor: pointer;
    i {
      font-size: 1.8rem;
      color: #0f875d;
      &:hover {
        color: #e93b87;
      }
    }
  }
}

hr {
  width: 90%;
  margin-top: 25px;
  border: 1.5px solid #000;
}

.food-cards {
  width: 100%;
  height: 370px;
  padding: 10px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  .food-card__box {
    width: 300px;
    height: 350px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 6px rgba(62, 5, 11, 0.5);
    background-color: $bg-color;
    .food-image {
      text-align: center;
      a {
        text-decoration: none;
        img {
          width: 200px;
          height: 200px;
          border-radius: 10px;
        }
      }
    }
    .food-name {
      font-family: "Iran Sans 700";
    }
    p {
      margin: 6px 0;
      color: $primary-text__color;
    }
    .food-card__button {
      display: flex;
      justify-content: space-between;
      align-self: center;
      .food-card__icons {
        i {
          font-size: 1.3rem;
          margin: 0 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      button {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 8px;
        font-family: "Vazir 700";
        background-color: $accent-color;
        color: #fff;
        &:hover {
          cursor: pointer;
          background-color: $secondary-color;
          color: $primary-text__color;
        }
      }
    }
  }
  .hide-show-icon__food {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    z-index: 1;
    cursor: pointer;
    i {
      font-size: 1.8rem;
      color: #0f875d;
      &:hover {
        color: #e93b87;
      }
    }
  }
}

.room-details {
  width: 70%;
  margin: 30px auto;
  position: relative;
  .room-details_title {
    text-align: center;
    font-family: "Vazir 700";
  }
  .room-details__images {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    white-space: nowrap;
    img {
      width: 100%;
      height: 500px;
      border-radius: 10px;
    }
  }
  .room-details__buttons {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 292px;
    i {
      font-size: 2rem;
      color: $primary-text__color;
      &:hover {
        cursor: pointer;
        color: $secondary-text__color;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
  .room-details__content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    .room-amenities {
      p {
        font-family: "Vazir 700";
        color: $primary-text__color;
      }
      ul {
        li {
          font-family: "Iran Sans 700";
          color: $secondary-text__color;
        }
      }
    }
    .hotel-amenities {
      p {
        font-family: "Iran Sans 700";
        color: $primary-text__color;
      }
      ul {
        li {
          font-family: "Aviny 700";
          color: $secondary-text__color;
          list-style: none;
          i {
            margin-left: 5px;
          }
        }
      }
    }
    .room-reserve__button {
      button {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px 15px;
        background-color: $secondary-color;
        font-family: "Iran Sans 700";
        color: $secondary-text__color;
        font-size: 1.1rem;
        &:hover {
          cursor: pointer;
          background-color: $bg-color__food--card;
          color: $primary-text__color;
        }
      }
    }
  }
}

.room-details__slider--enter {
  opacity: 0;
  transform: translateX(100%);
}

.room-details__slider--enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.room-details__slider--exit {
  opacity: 1;
  transform: translateX(0);
}

.room-details__slider--exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-out;
}

.food-details {
  width: 80%;
  margin: 25px auto;
  .food-details__title {
    font-family: "Vazir 700";
  }
  .food-details__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .food-details__image {
      img {
        width: 400px;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
    }
    .food-details__info {
      p {
        font-family: "Aviny 700";
        margin: 6px 0;
        color: $primary-text__color;
        font-size: 1.1rem;
      }
      button {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px 8px;
        font-family: "Iran Sans 700";
        color: $bg-color__room--card;
        background-color: $primary-color;
        margin-top: 10px;
        font-size: 1.1rem;
        &:hover {
          cursor: pointer;
          background-color: darken($primary-color, 20%);
          color: lighten($secondary-color, 20%);
        }
      }
    }
  }
}
