@import "../../../styles/_fonts";
@import "../../../styles/_generals";

.accounting-title {
  text-align: center;
  font-family: "Iran Sans 700";
  color: $primary-text__color;
}

.register-container {
  width: 30%;
  margin: 40px auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: $form-register-bg-color;
  box-shadow: 10px 15px 20px rgba(77, 17, 32, 0.5);
  form {
    width: 80%;
    margin: 10px auto;
    .form-control {
      width: 100%;
      margin-bottom: 15px;
      label {
        display: inline-block;
        margin-bottom: 5px;
        font-family: "Vazir 700";
        color: $primary-text__color;
      }
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-family: "Iran Sans 500";
        color: $secondary-text__color;
        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
      span {
        font-family: "Vazir 500";
        color: red;
      }
    }
    .form-button {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: $bg-color;
        font-family: "Vazir 700";
        margin: 8px;
        &:hover {
          background-color: darken($bg-color, 40%);
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .form-checkbox-control {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;
      input {
        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-left: 8px;
      }
      label {
        display: inline-block;
        margin-bottom: 5px;
        font-family: "Vazir 700";
        color: $primary-text__color;
      }
      span {
        font-family: "Vazir 500";
        color: red;
      }
    }
  }
}
