@import "../../styles/_fonts";
@import "../../styles/_generals";

.room-details {
  width: 70%;
  margin: 30px auto;
  position: relative;
  .room-details_title {
    text-align: center;
    font-family: "Vazir 700";
  }
  .room-details__images {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    white-space: nowrap;
    img {
      width: 100%;
      height: 500px;
      border-radius: 10px;
    }
  }
  .room-details__buttons {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 292px;
    i {
      font-size: 2rem;
      color: $primary-text__color;
      &:hover {
        cursor: pointer;
        color: $secondary-text__color;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
  .room-details__content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    .room-amenities {
      p {
        font-family: "Vazir 700";
        color: $primary-text__color;
      }
      ul {
        li {
          font-family: "Iran Sans 700";
          color: $secondary-text__color;
        }
      }
    }
    .hotel-amenities {
      p {
        font-family: "Iran Sans 700";
        color: $primary-text__color;
      }
      ul {
        li {
          font-family: "Aviny 700";
          color: $secondary-text__color;
          list-style: none;
          i {
            margin-left: 5px;
          }
        }
      }
    }
    .room-details__icons {
      i {
        font-size: 1.5rem;
        margin: 0 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .room-reserve__button {
      button {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px 15px;
        background-color: $secondary-color;
        font-family: "Iran Sans 700";
        color: $secondary-text__color;
        font-size: 1.1rem;
        &:hover {
          cursor: pointer;
          background-color: $bg-color__food--card;
          color: $primary-text__color;
        }
      }
    }
  }
}

.room-details__slider--enter {
  opacity: 0;
  transform: translateX(100%);
}

.room-details__slider--enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.room-details__slider--exit {
  opacity: 1;
  transform: translateX(0);
}

.room-details__slider--exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-out;
}
